
@{
    ViewBag.Title = "Đăng nhập";
    Layout = null;
}

<head>
    <title>Đăng nhập</title>
</head>

<style>
    body {
        font-family: 'Poppins', sans-serif;
        background-color: #f0f2f5;
        color: #1c1e21;
    }

    .row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        max-width: 1000px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .colm-form {
        text-align: center;
    }

        .colm-form .form-container {
            background-color: #ffffff;
            border: none;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
            margin-bottom: 30px;
            padding: 20px;
            max-width: 400px;
        }

            .colm-form .form-container input, .colm-form .form-container .btn-login {
                width: 100%;
                margin: 5px 0;
                height: 45px;
                vertical-align: middle;
                font-size: 16px;
            }

            .colm-form .form-container input {
                border: 1px solid #dddfe2;
                color: #1d2129;
                padding: 0 8px;
                outline: none;
            }

                .colm-form .form-container input:focus {
                    border-color: #1877f2;
                    box-shadow: 0 0 0 2px #e7f3ff;
                }

            .colm-form .form-container .btn-login {
                background-color: #09ad03;
                border: none;
                border-radius: 6px;
                font-size: 16px;
                padding: 0 16px;
                color: #ffffff;
                font-weight: 700;
            }

            .colm-form .form-container a {
                display: block;
                color: #1877f2;
                font-size: 14px;
                text-decoration: none;
                margin-top: 20px;
            }

            .colm-form .form-container .btn-new {
                background-color: #42b72a;
                border: none;
                border-radius: 6px;
                font-size: 17px;
                line-height: 48px;
                padding: 0 16px;
                color: #ffffff;
                font-weight: 700;
                margin-top: 20px;
            }

        .colm-form p {
            font-size: 14px;
        }

        .colm-form p {
            text-decoration: none;
            color: #1c1e21;
            font-weight: 600;
        }

    .btn-login:hover {
        cursor: pointer;
    }

    .top_login {
    }

    .logo_login {
        font-size: 50px;
        padding: 20px;
        width: 70px;
        border: solid 1px;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        color: #FFF;
        background-color: #1569b2;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .text-err{
        color: red ;
        font-size: 14px;
    }
</style>

<link href="~/Assets/fontawesome/css/all.min.css" rel="stylesheet" />
<body>
    <main>
        <div class="row">
            <div class="colm-form">
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    <div class="form-container">
                        <div class="top_login">
                            <div class="logo_login">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div style="font-size: 24px; font-weight: 600; margin-bottom: 30px; color: #1569b2 ;">Đăng nhập</div>
                        </div>
                        <div>
                            <input name="ReturnUrl" value="@TempData["url"]" style="display:none;" />
                        </div>
                        @if (ViewBag.errLogin != null)
                        {
                            <span class="text-err">@ViewBag.errLogin</span>
                        }
                        <input name="user" type="text" placeholder="Username">
                        <input name="pass" type="password" placeholder="Password">
                        <div>

                        </div>
                        <button type="submit" class="btn-login" style="margin-top: 20px !important;">ĐĂNG NHẬP</button>
                        <a style="text-decoration:none;margin-bottom:30px;" href="@Url.Action("Index","Home")">Trang chủ</a>
                    </div>
                }
            </div>
        </div>
    </main>

</body>


